/**
* Transition-timing-function property@mixin
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
@media (max-width: 1196px) and (min-width: 992px) {
  .editortool .label-customize {
    display: none;
  }
}
@media (min-width: 1200px) {
  #guestTracking .form-group {
    overflow: hidden;
  }
  #guestTracking .form-group i {
    padding-left: 10px;
  }
  .rtl #guestTracking .form-group i {
    padding-right: 10px;
    padding-left: inherit;
  }
  #guestTracking .form-control {
    float: left;
  }
  .rtl #guestTracking .form-control {
    float: right;
  }
  #guestTracking label {
    float: left;
    clear: both;
    width: 100%;
  }
  .rtl #guestTracking label {
    float: right;
  }
}
@media (max-width: 1199px) {
  .zoomdiv {
    display: none !important;
  }

  .block_carousel .owl-carousel {
    min-height: 208px;
  }

  .client-say {
    padding: 0;
  }

  .service-site .media .title-service {
    min-height: 22px;
  }

  .service-site .media .detail-service {
    font-size: 10px;
  }
}
@media (max-width: 991px) {
  html {
    background: none;
  }

  .collapse.navbar-collapse {
    display: none!important;
  }

  #leo-verticalmenu .open > .dropdown-menu {
    max-width: 100%;
    position: relative;
    left: auto !important;
    width: 100% !important;
    top: 100%;
  }

  div.verticalmenu .navbar-nav {
    margin: 0;
  }

  .header_user_info .popup-title {
    display: block;
  }

  .dropdown-menu > li > a {
    padding: 3px 0;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
  }

  ul.links li .fa, ul.links li .icon {
    width: 10px;
  }

  .tabs-left .nav-tabs {
    padding-right: 0;
  }
  .rtl .tabs-left .nav-tabs {
    padding-left: 0;
    padding-right: inherit;
  }
  .tabs-left .nav-tabs > li {
    display: table-cell;
    width: 1%;
    float: none;
  }
  .tabs-left .nav-tabs > li:before {
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -11px;
  }
  .rtl .tabs-left .nav-tabs > li:before {
    right: 50%;
    left: auto;
  }
  .rtl .tabs-left .nav-tabs > li:before {
    margin-right: -11px;
    margin-left: inherit;
  }
  .tabs-left .nav-tabs > li.active {
    background-color: #fff;
  }
  .tabs-left .nav-tabs > li > a {
    padding: 30px 5px;
    color: transparent !important;
    position: relative;
    z-index: 10;
    background-color: transparent !important;
  }
  .tabs-left .nav-tabs > li > a span {
    display: none;
  }

  .block-adv-left {
    margin-top: 40px;
  }

  #footer #newsletter_block_left {
    padding-right: 15px;
  }
  .rtl #footer #newsletter_block_left {
    padding-left: 15px;
    padding-right: inherit;
  }

  .manufacturers_block {
    margin-bottom: 40px !important;
  }

  #leo-megamenu {
    padding-left: 150px;
  }

  div.verticalmenu {
    width: 240px;
  }
  div.verticalmenu .dropdown .dropdown-menu {
    position: static;
    width: 100% !important;
    display: none;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 20px;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  div.verticalmenu .dropdown .dropdown-menu .mega-col {
    width: 100%;
  }
  div.verticalmenu .dropdown.open .dropdown-menu {
    display: block;
  }

  .megamenu > li {
    width: 100%;
  }

  .megamenu .dropdown .mega-col {
    width: 100%;
  }

  #layer_cart {
    width: 720px;
  }

  .block-header-menu {
    padding-bottom: 0;
    width: 100%;
    height: 48px;
    margin: 0;
  }
  .block-header-menu:before {
    background-color: #2d3e50;
  }

  #leo-megamenu {
    border-right: 1px solid #425262;
    text-align: center;
    min-height: inherit;
    padding-left: 0;
    width: 50%;
    height: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .rtl #leo-megamenu {
    border-left: 1px solid #425262;
    border-right: inherit;
  }
  .rtl #leo-megamenu {
    padding-right: 0;
    padding-left: inherit;
  }
  #leo-megamenu .button-collapse {
    color: #838a92;
  }
  #leo-megamenu:hover, #leo-megamenu:active, #leo-megamenu:focus {
    background-color: #1f2b38;
  }
  #leo-megamenu:hover .button-collapse, #leo-megamenu:active .button-collapse, #leo-megamenu:focus .button-collapse {
    color: #fff;
  }

  .navbar-header {
    float: none;
  }

  .navbar-header .button-collapse {
    display: inline-block;
  }

  #header_content {
    background-color: #2d3e50;
  }

  .float-vertical .title_block {
    line-height: 48px;
  }

  #header-main .block-cate {
    position: relative;
    height: 100%;
    width: 33.3333%;
    border-right: 1px solid #425262;
    padding: 0;
  }
  .rtl #header-main .block-cate {
    border-left: 1px solid #425262;
    border-right: inherit;
  }

  #leo-verticalmenu {
    height: 100%;
  }

  .block-menu-left {
    padding: 0;
    height: 100%;
  }

  .button-collapse, #search_block_top > .fa-search {
    margin-top: 10px;
    color: #838a92;
  }

  .float-vertical .float-vertical-button:before {
    content: "\e7a6";
  }

  .float-vertical:hover, .float-vertical:focus, .float-vertical.active, .float-vertical:active, #search_block_top:hover, #search_block_top:focus, #search_block_top.active, #search_block_top:active {
    background-color: #1f2b38;
  }
  .float-vertical:hover > .fa-search, .float-vertical:focus > .fa-search, .float-vertical.active > .fa-search, .float-vertical:active > .fa-search, #search_block_top:hover > .fa-search, #search_block_top:focus > .fa-search, #search_block_top.active > .fa-search, #search_block_top:active > .fa-search {
    color: #fff;
  }

  .float-vertical.active .float-vertical-button {
    color: #838a92;
  }
  .float-vertical.active .float-vertical-button:before {
    content: "\e7a6";
  }
  .float-vertical.active > .block_content {
    top: 48px;
  }

  .float-vertical.active .float-vertical-button {
    color: #fff;
  }

  .float-vertical .float-vertical-button {
    color: #838a92;
  }
  .float-vertical .float-vertical-button:hover, .float-vertical .float-vertical-button:focus, .float-vertical .float-vertical-button:active {
    color: #fff;
  }

  .footer-block .title_block:after {
    cursor: pointer;
    top: -2px;
  }

  #search_block_top {
    width: 50%;
    right: 0;
    text-align: center;
  }
  .rtl #search_block_top {
    left: 0;
    right: auto;
  }

  #topbar {
    min-height: inherit;
  }

  .breadcrumb {
    padding: 30px 0 15px;
  }
  .breadcrumb .navigation-pipe {
    position: relative;
  }
  .breadcrumb .navigation-pipe:before {
    top: -3px;
    left: 14px;
  }
  .rtl .breadcrumb .navigation-pipe:before {
    right: 14px;
    left: auto;
  }
}
@media (max-width: 767px) {
  #layer_cart {
    width: 100%;
    right: 0;
  }
  .rtl #layer_cart {
    left: 0;
    right: auto;
  }

  html {
    background: none;
  }

  .collapse.navbar-collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none;
  }

  .header-left #header_logo {
    text-align: center;
    padding-bottom: 20px;
  }

  form#searchbox {
    margin-top: 25%;
  }

  .close-overlay {
    top: 30px;
    right: 30px;
  }
  .rtl .close-overlay {
    left: 30px;
    right: auto;
  }

  .content_sortPagiBar label, .block-category .page-heading {
    display: none;
  }

  #columns {
    padding-top: 0px;
  }

  .tab-for-top {
    display: block;
  }

  .tab-default {
    display: none;
  }

  .page-product-heading > li {
    width: 100%;
  }
  .page-product-heading > li > a {
    padding-left: 15px;
  }
  .rtl .page-product-heading > li > a {
    padding-right: 15px;
    padding-left: inherit;
  }

  #header .cart_block {
    width: 280px;
  }

  .tabs-left .nav-tabs > li > a:before, .products_block .nav-tabs > li > a:before {
    display: none;
  }

  #leo_block_top {
    float: left;
  }
  .rtl #leo_block_top {
    float: right;
  }

  .open-group {
    padding-top: 50px;
  }

  .open-block .open-group {
    top: -10px;
  }

  .block-header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .rtl .block-header-menu {
    right: 0;
    left: auto;
  }

  #page {
    padding-top: 48px;
  }

  #leo_block_top {
    margin: 0;
  }

  .product-block .functional-buttons .quick-view {
    display: none;
  }

  #open-tool {
    z-index: 0;
  }

  .breadcrumb a {
    line-height: 30px;
  }

  #header {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_cart .button-container {
    text-align: center;
  }

  #layer_cart .layer_cart_cart .button-container .btn {
    float: none!important;
    margin-bottom: 10px;
  }

  #cart .heading {
    margin-left: 10px;
  }
  .rtl #cart .heading {
    margin-right: 10px;
    margin-left: inherit;
  }

  #thumbs_list ul#thumbs_list_frame {
    max-height: 200px;
  }

  .pb-center-column {
    margin-top: 20px;
  }

  #thumbs_list li {
    width: 54px;
    height: 54px;
  }

  .primary_block span.view_scroll_spacer, #view_scroll_right {
    left: 13px;
  }
  .rtl .primary_block span.view_scroll_spacer, .rtl #view_scroll_right {
    right: 13px;
    left: auto;
  }

  #thumbs_list {
    height: 240px;
  }
}
