/**
* Transition-timing-function property@mixin
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.block-user-info {
  float: right;
}
.rtl .block-user-info {
  float: right;
}

.welcome-login {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 4px;
}
.welcome-login li {
  padding: 0;
}
.welcome-login li a {
  color: #96cb4b;
  font-weight: 500;
}
